.header-nav{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.header-nav a{
    font-size: 28px;
    font-weight: 700;
    color: #000;
}

.header-nav a:hover{
    color: #0027D5;
}


.banner{
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    display: flex;
}

.banner img {
    max-width: 50vw;
    flex:1;
}

.banner-profile{
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-web-camp/desktop/index/Hero%20Section2.png);
    
    color: #0027D5;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;

}

.banner-profile h2{
    font-size: 120px;
    font-weight: 900;
}

.banner-profile p{
    font-size: 28px;
    font-weight: 700;
}

.main1,
.main3{
    max-width: 1296px;
    margin: 0 auto;
    padding: 80px 0;
}

.banner-content{
    font-size: 28px;
    color: #000;
    background-color: #fff;


    max-width: 1077px;
    padding: 80px 40px;
    margin-left: 763px;
    margin-top: -160px;

    position: relative;
    z-index: 1;
}

.banner-content p{
    padding-bottom: 16px;
}

.banner-media{
    width: 236px;
    display: flex;
    gap: 4px;
}


.main1-card-para-icon{
    width: 30px;
    height: 2.5px;
    margin: 18.75px 5px;
    background-color: #0027D5;
    border-radius: 5px;
}

.main-title{
    font-size: 64px;
    font-weight: 700;
}

.main1-content{
    margin: 24px 0;
    padding: 0 110px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.main1-card{
    display: flex;
    align-items: center;
    position: relative;
}

.main1-card img{
    width: 636px;
    height: auto;
}

.main1-card-para{
    width: 480px;
    padding: 24px;
    margin-left: -40px;
    background-color: #fff;
}

.card-h3{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
}

.card-p{
    color: #4B4B4B;
}

.main1-card-reverse{
    flex-direction: row-reverse;
}

.main1-card-para-reverse{
    width: 480px;
    padding: 24px;
    margin-right: -40px;
    background-color: #fff;
    z-index: 1;
}

.main1-link{
    display: flex;
    justify-content: flex-end;
    margin-top: 33px;
}

.main1-link a{
    display: inline-block;
    font-size: 28px;
    font-weight: 700;
    color: #000;
    display: flex;
    gap: 8px;

}

.main1-link a:hover{
    color: #0027D5;
}

.main2{
    max-width: 1432px;
    margin: 0 auto;
    padding: 80px 0;
}

.main2 .main-title{
    padding-left: 68px;
}

.main2-content{
    display: flex;
    align-items: center;
    gap: 24px;
}

.arrow-btn:hover svg{
    transform: scale(0.9);
}

.main3-content{
    margin-top: 24px;
}

.main3-content-card-wrap{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.main3-content-card-pic{
    max-width: 745px;
    background-color: #EDEDED;
    padding: 24px;
}

.main3-content-card-text-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 745px;
    margin-top: 29px;
    margin-bottom: 29px;
    margin-left: -195px;

    z-index: 1;
}

.main3-content-card-text{
    padding: 80px 40px;
    width: 526px;
    background-color: #fff;
}

.main3-content-card-p{
    font-weight: 700;
    padding-top: 24px;
}

.main3-content-card-p-blue{
    color: #0027D5;
}

.main3-content-card-link{
    display: block;
    color: #0027D5;
    background-color: #fff;

    width: 128px;
    padding: 8px 16px;
    border: 1px solid #0027D5;
    border-radius: 40px;
    white-space: nowrap;

    margin-top: 24px;

}

.main3-content-card-link:hover{
    background-color: #0027D5;
    color: #fff;
}

.main3-content-card-text-down{
    align-self: flex-end;
    margin-top: -140px;
    background-color: #F5F5F5;
}

.main3-podcast-card-wrap{
    display: flex;
    padding: 24px;
    gap: 24px;

    margin-top: 40px;
    background-color: #F5F5F5;
}

.main3-podcast-card{
    width: 294px;
}

.main3-podcast-card img{
    width: 80px;
    height: auto;
}

.podcast-card-h3{
    font-size: 24px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 8px;
}

.main3-podcast-card-text p::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    
    width: 16px;
    height: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%230027D5' d='M5 3a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2zm11.95 6.796a1 1 0 0 0-1.414-1.415l-4.95 4.95l-2.121-2.121a1 1 0 1 0-1.415 1.414l2.758 2.758a1.1 1.1 0 0 0 1.556 0z'/%3E%3C/g%3E%3C/svg%3E");
}

.main3-podcast-card-text p {
    display: flex;
    align-items: center; 
    margin: 0;
    color: #4B4B4B;

}

.main3-podcast-card-text{
    padding-bottom: 16px;
    border-bottom: 1px solid #4B4B4B;

    display: flex;
    flex-direction: column;
    gap: 8px;
}


.podcast-link{
    display: block;
    color: #4B4B4B;

    width: 161px;
    padding: 8px 16px;
    border: 1px solid #000;
    border-radius: 40px;
    white-space: nowrap;

    margin-top: 24px;
}

.podcast-link:hover{
    background-color: #4B4B4B;
    color: #fff;
}

.main4{
    max-width: 100vw;
    display: flex;
}

.main4-subscribe{
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-web-camp/desktop/index/Hero%20Section2.png);
    flex: 1;
}

.subscribeBox{
    background-color: #fff;
    width: 800px;
    margin: 172px 80px;
    padding-top: 80px;
    padding-left: 80px;
    padding-bottom: 80px;
}

.subscribeBox p{
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 20px;
}

.subscribeBox span{
    color: #0027D5;
}

.subscribeForm{
    width: 640px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subscribeForm input{
    background-color: #f1f1f1;
    border: none;
    padding: 8px 16px;
}

.subscribeBtn{
    display: block;
    color: #0027D5;

    width: 96px;
    padding: 8px 16px;
    border: 1px solid #0027D5;
    border-radius: 40px;
    white-space: nowrap;

    margin-top: 24px;
}


.subscribeBtn:hover{
    background-color: #0027D5;
    color: #fff;
}

.main5{
    max-width: 1296px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;

}

.contactBox{
    width: 100%;
}

.contactBox li{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.contactBox a:hover{
    color: #0027D5;
}

.contactBox li a{
    color: #000;
}

.main5 ul{
    font-size: 28px;
}

.contactMail{
    text-decoration: underline;
}

.contactBox .icon-link{
    width: 100%;
    display: inline-flex;
}

.contactBox .icon-link img{
    height: 44px;
    width: 44px;
    margin-right: 8px;
}

.footer{
    max-width: 1920px;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    background-color: #fff;
}